<footer class="bg-light py-4">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <h6>About Us</h6>
        <p><%= link_to "Our Story", "#" %></p>
        <p><%= link_to "Contact", "#" %></p>
      </div>
      <div class="col-md-3">
        <h6>Follow Us</h6>
        <p>Instagram | Facebook | LinkedIn</p>
      </div>
    </div>
  </div>
</footer>
